<div class="jumbotron">
    <div class="row">
        <div class="col-8">
            <h4 class="font-weight-bold"><%= customer.firstname %> <%= customer.lastname %></h4>
            <p>Alert! do you want to delete this customer??</p>
            <form action="/customer/delete/<%= customer._id %>" method="POST">
                <button class="btn btn-danger btn-lg" type="submit">Delete</button>
                <a class="btn btn-light btn-lg" href="/customer/list">Cancel</a>
            </form>
            </p>
        </div>
    </div>    
</div>